@* 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/catalog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-append-version="true">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a class="pole"></a></li>
                <img src="images/howInGreen.png" alt="logo"  class="logo">
                <li> <a class="pole"></a></li>
                <li><a href="/home/Index"> Начало </a></li>
                <li><a href="/home/Catalog">Каталог</a></li>
                <li><a href="contact.html">Контакти</a></li>
                <li><a href="/home/Login"><span class="material-symbols-outlined">person</span></a></li>
                <li><a href="/home/ShoppingCard"><span class="material-symbols-outlined">shopping_cart</span></a></li>
            </ul>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


      
    <div class="down">
        <div class="row">
            <div class="column">
                <h4 class="left"> &emsp;Свържете се с нас:</h4>
                <h5 class="left1"> &emsp;<i class="material-icons" style="font-size:150%">place</i>ул."Георги Казепов" 1, гр.Сандански</h5>
                <h5 class="left"> &emsp;<i class="material-icons" style="font-size:150%">local_phone</i> 0878888888 </h5>
            </div>
            <div class="column">
                <h4> Меню</h4>
                    <a href="/home/Index"> Начало </a>
                    <a href="/home/Catalog">Каталог</a>
                    <a href="grivni.html">Гривни</a>
                    <a href="kolieta.html">Колиета</a>
                    <a href="obici.html">Обици</a></li>
                    <a href="komplect.html">Комплекти</a>
                    <a href="contact.html">Контакти</a>
                
            </div>
            <div class="column">
                <h4>Намерете ни и във </h4>
                <a href="https://www.youtube.com/channel/UCSEt7fSTforeT80mfAGtFVg"><img src="images/whiteYoutube.png" alt="youtube" style="width:10%"></a>
                &emsp;
                <a href="https://www.facebook.com/ZpgSandanski"><img src="images/whiteFacebook.png" alt="facebook" style="width:10%"></a>
                &emsp;
                <a href="https://zpg-sandanski.com/"><img src="images/whiteWww.png" alt="webpage" style="width:10%"></a>
            </div>
        </div>
    <div>
    <div class="down">©  Maria Kukucheva</div>
    </div>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) 
</body>

</html>
  *@

<html>
<head>
    <title>@ViewData["title"]</title>
    <link href="~/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container header">
        <h1 class="title">PhoneBook Manager</h1>
        <div class="welcomeMsg">
            <span>Hello, Annonymous</span>
        </div>
    </div>
    <div class="container">
        <ul class="menu">
            <li><a href="/Home/Index">HOME</a></li>
            <li><a href="/Users/Index">USERS</a></li>
            <li><a href="/Home/Login">LOGIN</a></li>
        </ul>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>