@* @{
    ViewData["Title"] = "Catalog";
}

<div class="row">
    <h1>Каталог</h1>
    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>

    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>

    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>
    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>
    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>
    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>
    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>
    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>
    <div class="columnn">
        <input type="image" src="buket1.jpg" alt="Submit" width="300" height="300">
        <h3>№ 001, Гривна "", цена: .0лв.</h3>
        <a href="contact.html"><button class="button1">Поръчай!</button></a>
    </div>

    <div class="column">
        <a href="#section0">Начало</a>
    </div>
 *@