@{
    ViewData["Title"] = "Home Page";}

<body>

<article>
     <div class="row">
        <div class="columnV">
            <br>
        </div>
                       
        <div class="columnV">
            <br><br><br>
            <h1 style="font-size:4vw">МЪНИСТЕН СВЯТ</h1>
            <h2>Ателие за ръчно изработени бижута</h2>
            <br>
            
            <br>
              <a href="/home/Catalog"> <button class="button1">Намери своето бижу</button></a>
               <br><br><br><br>
        </div>       
    </div>  
</article>
                 
</body>
