@* 
@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
    <script src="check.js"></script>
</head>

    <div class="row row1">
        <br>
        <div class="columnIII">
            <br><br>
            <div class="gallery">

                <h1 class="white">Запиши се</h1>
                <h3 class="white">За да направим вашия акаунт, моля попълнете празните полета:</h3>

                <div class="row">
                    <form asp-controller="RegistrationController" asp-action="Index" method="post">

                        <label for="username">Потребителско име:</label>
                        <input type="text" id="username" name="Username" asp-for="Username" placeholder="Enter name"  required>

                        <label for="password">Парола:</label>
                        <input type="password" id="password" name="Password" asp-for="Password" placeholder="Enter password" required>

                        <label for="confirmPassword">Потвърди парола:</label>
                        <input type="password" id="confirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required>

                        <label for="email">Имейл:</label>
                        <input type="email" id="email" name="Email" asp-for="Email" placeholder="Enter email" required>

                        <button type="submit" class="button4">Регистрация</button>

                        <h4 class="white">Вече имаш акаунт? <a href="/home/Login" class="white">Log in</a></h4>

                    </form>
                   
                </div>   <br> <br>
            </div>
        </div>

    </div>
 *@